<% if (blockers && blockers.length > 0) { %>
<section class="blockers-panel">
  <div class="heading">Pending Blockers</div>
  <ul class="blockers-list">
    <% blockers.forEach(function(blocker) { %>
      <li class="blocker-item"><%= blocker %></li>
    <% }); %>
  </ul>
</section>
<% } %>
